<h3>Zpráva z kontaktního formuláře</h3>

<p>
  Jméno: {{ jmeno }}
</p>
<p>
  E-mail: {{ email }}
</p>
<p>
  Telefon: {{ telefon }}
</p>
<p>
  Lokalita: {{ lokalita }}
</p>
<p>
  Dispozice: {{ dispozice }}
</p>
<p>
	<br>
  Zpráva: {{ zprava }}
</p>
<p>
  Landing page: {{ landing_page }}
</p>
<p>
  Typ formuláře: {{ typ_formulare }}
</p>

<p>
  <br><br>Zpráva z webu aukcebydleni.cz
</p>
